<div id="payment" class="row">
	<div class="fourcol side">
		<h1>really simple payments.</h1>
	</div>
	<div class="sixcol main">
		<p class="intro">Fill out the two fields below and choose your preferred payment provider.
			The rest of your payment details will be collected on a secure site.</p>
		<form method="post" accept-encoding="utf8">
			{{> errors}}
			{{#inputs}}
			<p>Pay ${{& amount}} on invoice #{{& invoice}} using:</p>
			<p class="providers">
				{{#providers}}
				<button name="gateway" value="{{name}}" type="submit" class="image">
					<img src="{{image}}" alt="{{title}}" />
				</button>
				{{/providers}}
			</p>
			{{/inputs}}
		</form>
	</div>
	<div class="twocol main last">
		<p class="intro">Need to Talk?</p>
		<p>Please <a href="{{&hello_at_wingsc}}">email us</a> if need a different payment option or if you have any other concerns.</p>
		<p>Thanks you for your business!</p>
	</div>
</div>
