<div id="payment" class="row">
	<div class="fourcol side">
		<h1>really simple payments.</h1>
	</div>
	<div class="sixcol main last">
		<p class="intro">Fill out the two fields below and choose your preferred payment provider.
			The rest of your payment details will be collected on a secure site.</p>
		<form method="post" accept-encoding="utf8">
			{{> errors}}
			{{#inputs}}
			<p>I want to pay ${{& amount}} on invoice #{{& invoice}} using:</p>
			<p class="providers">
				{{#providers}}
				<input name="gateway" value="{{name}}" type="image" src="{{image}}" alt="{{title}}" />
				{{/providers}}
			</p>
			{{/inputs}}
		</form>
	</div>
	<div class="threecol main last">
	</div>
</div>
