[submodule "system"]
	path = system
	url = https://github.com/kohana/core.git
[submodule "modules/oauth"]
	path = modules/oauth
	url = https://github.com/kohana/oauth.git
[submodule "modules/image"]
	path = modules/image
	url = https://github.com/kohana/image.git
