[submodule "system"]
	path = system
	url = https://github.com/kohana/core.git
[submodule "modules/oauth"]
	path = modules/oauth
	url = https://github.com/kohana/oauth.git
[submodule "modules/image"]
	path = modules/image
	url = https://github.com/kohana/image.git
[submodule "modules/walrus"]
	path = modules/walrus
	url = git://github.com/shadowhand/walrus.git
[submodule "modules/gcheckout"]
	path = modules/gcheckout
	url = git://github.com/shadowhand/gcheckout.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git
