<div id="about" class="row">
	<div class="fourcol clearfix side">
		<h1>Who we are.</h1>
	</div>
	<div class="eightcol main last">
		<p class="intro">w.ings consulting designs, implements, and optimizes digital solutions to effectively communicate information from one person to another. From small business websites to large web services, from photo gallaries to shopping carts, we have the skills to create effective solutions that will help you create a great internet presence.</p>
		<p>We have been creating digital media for over eight years and have vast knowledge of building great web sites and applications. Our toolbox includes Apache, Nginx, jQuery, Kohana, CSS, HTML, Javascript, PHP, MySQL, and Linux.</p>
	</div>
</div>
<div id="clients" class="row">
	<div class="fourcol clearfix side">
		<h1>What our clients do.</h1>
	</div>
	<div class="eightcol main last">
		<p class="intro">Our clients range from single owner/operator business all the way up to international companies.</p>
		<p>We've done work in North America, Europe, and Africa, building solutions for artists, bed and breakfasts, grocery stores, bill pay services, and open source projects. We like to work for people who are trying new things, working on a human scale, and have passion for quality.</p>
	</div>
</div>
<div id="contact" class="row">
	<div class="fourcol side">
		<h1>How to get in touch.</h1>
	</div>
	<div class="eightcol main last">
		<div class="call">
			<object type="application/x-shockwave-flash" data="https://clients4.google.com/voice/embed/webCallButton" width="230" height="85">
				<param name="movie" value="https://clients4.google.com/voice/embed/webCallButton" />
				<param name="wmode" value="transparent" />
				<param name="FlashVars" value="id=7189fcd7755f980511ae6258bdea9c02ce559726&amp;style=0" />
			</object>
		</div>
		<p class="intro">We want to hear about your project! Send an email to {{& woody_at_wingsc}} or call {{& call_me}} and describe your project and goals. We'll get back to you as soon as we are able.</p>
		<p><em>We are not a design agency.</em> Although we do some graphic design, we specialize in programming and not design. We highly recommend that you retain the services of a professional designer to work with us.</p>
	</div>
</div>
