<div id="top" class="row">
	<div class="threecol side">
		<p>
			<strong>w.ings consulting</strong><br/>
			<small>information transfer engineering</small>
		</p>
	</div>
	<div class="threecol main">
		<p class="box latest-project">
			latest project
		</p>
	</div>
	<div class="threecol main">
		<p class="box current-status">
			current status
		</p>
	</div>
	<div class="threecol main last">
		<p class="box pay-invoice">
			pay invoice
		</p>
	</div>
</div>
<div id="about" class="row">
	<div class="threecol clearfix side">
		<h1>who i am.</h1>
	</div>
	<div class="ninecol main last">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a nibh quis ligula tincidunt luctus. Aliquam erat volutpat. Curabitur sed sem quis mi pharetra bibendum. Nulla facilisi. Etiam vel interdum neque. Morbi aliquet tortor et risus ultrices vehicula. Mauris ullamcorper, mauris sit amet scelerisque volutpat, eros libero lobortis mauris, vel porttitor est est ac erat. Nulla facilisi. Maecenas porta congue gravida. Ut eget neque a quam viverra dignissim et vel magna. Cras quis accumsan elit. Nullam id odio quis orci facilisis molestie. Ut vehicula augue eu sapien volutpat id volutpat ligula blandit. Vivamus bibendum urna cursus lectus pretium quis porttitor enim rutrum. Nunc vel elit justo. Proin lacus orci, lacinia et pretium et, consectetur viverra velit. Duis pulvinar leo quis mi facilisis ut lobortis tortor ultrices.</p>
	</div>
</div>
<div id="clients" class="row">
	<div class="threecol clearfix side">
		<h1>what my clients do.</h1>
	</div>
	<div class="ninecol main last">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a nibh quis ligula tincidunt luctus. Aliquam erat volutpat. Curabitur sed sem quis mi pharetra bibendum. Nulla facilisi. Etiam vel interdum neque. Morbi aliquet tortor et risus ultrices vehicula. Mauris ullamcorper, mauris sit amet scelerisque volutpat, eros libero lobortis mauris, vel porttitor est est ac erat. Nulla facilisi. Maecenas porta congue gravida. Ut eget neque a quam viverra dignissim et vel magna. Cras quis accumsan elit. Nullam id odio quis orci facilisis molestie. Ut vehicula augue eu sapien volutpat id volutpat ligula blandit. Vivamus bibendum urna cursus lectus pretium quis porttitor enim rutrum. Nunc vel elit justo. Proin lacus orci, lacinia et pretium et, consectetur viverra velit. Duis pulvinar leo quis mi facilisis ut lobortis tortor ultrices.</p>

		<p>Mauris pharetra accumsan elit in vehicula. Vestibulum semper mauris quis elit sollicitudin luctus. Curabitur bibendum ultrices ante, a adipiscing velit pellentesque eu. Aliquam erat volutpat. Sed dignissim massa felis. Sed ac magna mauris. Vivamus ac neque at elit euismod dignissim ut dictum nulla. Quisque dapibus egestas ipsum, quis suscipit felis aliquam vitae. Morbi imperdiet rhoncus elit ut tristique. Suspendisse hendrerit massa a erat consequat at laoreet ipsum rhoncus. Maecenas accumsan dui a sem tempus scelerisque. Sed eget elit est. Cras nulla purus, luctus et malesuada a, tempor vel mauris. Mauris ligula arcu, tempus ac eleifend ac, mattis ac turpis. Ut posuere vestibulum turpis in euismod.</p>
	</div>
</div>
<div id="contact" class="row">
	<div class="threecol side">
		<h1>how to get in touch.</h1>
	</div>
	<div class="eightcol main last">
		<p>Mauris pharetra accumsan elit in vehicula. Vestibulum semper mauris quis elit sollicitudin luctus. Curabitur bibendum ultrices ante, a adipiscing velit pellentesque eu. Aliquam erat volutpat. Sed dignissim massa felis. Sed ac magna mauris. Vivamus ac neque at elit euismod dignissim ut dictum nulla. Quisque dapibus egestas ipsum, quis suscipit felis aliquam vitae. Morbi imperdiet rhoncus elit ut tristique. Suspendisse hendrerit massa a erat consequat at laoreet ipsum rhoncus. Maecenas accumsan dui a sem tempus scelerisque. Sed eget elit est. Cras nulla purus, luctus et malesuada a, tempor vel mauris. Mauris ligula arcu, tempus ac eleifend ac, mattis ac turpis. Ut posuere vestibulum turpis in euismod.</p>
	</div>
</div>
