<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset={{charset}}"/>

	<title>w.ings consulting</title>

	<base href="{{base}}" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	{{! The 1140px Grid }}
	<link rel="stylesheet" href="media/css/1140.css" type="text/css" media="screen" />

	<!--[if lte IE 9]>
	<link rel="stylesheet" href="media/css/ie.css" type="text/css" media="screen" />
	<![endif]-->

	{{! Type and image presets - NOT ESSENTIAL }}
	{{! <link rel="stylesheet" href="media/css/typeimg.css" type="text/css" media="screen" /> }}
	{{! LessBlue typography }}
	<link rel="stylesheet" href="media/css/typo.css" type="text/css" media="screen" />
	{{! Make minor type adjustments for 1024 monitors }}
	<link rel="stylesheet" href="media/css/smallerscreen.css" media="only screen and (max-width: 1023px)" />
	{{! Resets grid for mobile }}
	<link rel="stylesheet" href="media/css/mobile.css" media="handheld, only screen and (max-width: 767px)" />

	{{! Cabin Font, http://www.impallari.com/ }}
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:500" type="text/css" media="screen" />
	{{! Site-specific CSS }}
	<link rel="stylesheet" href="media/css/layout.css" type="text/css" media="screen" />
</head>
<body>

	<div class="container">
		<div id="top" class="row">
			<div class="fourcol side">
				<p class="logo">
					<a href="{{base}}" title="wings home page">
						<img src="media/img/wings-consulting.png" alt="w.ings consulting" />
					</a>
				</p>
			</div>
			<div class="threecol main">
				<p class="box latest-client">
					Our last client was <a href="http://www.iwmarketing.com"><img src="media/img/logos/imagewerks.png" alt="imagewerks marketing" /> imagewerks</a>.
				</p>
			</div>
			<div class="threecol main">
				<p class="box next-available">
					Available after <span class="date no">11/11</span> 2011.
				</p>
			</div>
			<div class="twocol main last">
				<p class="box pay-invoice">
					<a href="pay">Pay Invoice</a>
				</p>
			</div>
		</div>

		{{> content}}

		<div id="copyright" class="row">
			<div class="fourcol side">
				<p>&copy;2011 w.ings consulting</p>
			</div>
			<div class="eightcol main last">
				<p>All rights reserved.</p>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="media/js/effects.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
